* {
  text-align: center;
}

html, body, .full-container {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  text-decoration: none;
}

div, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

break-50 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 50px;
}

.visible-mobile {
  display: none;
}

.spacer-flex-1--mobile {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.full-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.b-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.static-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 962px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.static-container--b-card {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #64257D;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 80px;
  max-height: 81px;
}

.b-logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.b-timer {
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

.b-header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EBEBEB;
  color: #7D7D7D;
  height: 80px;
}
.b-header__text {
  font-size: 25px;
}

.b-card {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.b-card__item {
  width: calc( 50% - 12px );
  height: 263px;
  margin-bottom: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.b-card__item--monthly {
  background-color: #0083BE;
  border-bottom: 17px solid #0070A3;
}
.b-card__item--daily {
  background-color: #00B48C;
  border-bottom: 17px solid #009974;
}
.b-card__item--limitless {
  background-color: #C41B79;
  border-bottom: 17px solid #A91A6F;
}
.b-card__item--tariff {
  background-color: #FF6319;
  border-bottom: 17px solid #DA552A;
}
.b-card__link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
}
.b-card__row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.b-card__row--first {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.b-card__row--second {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.b-card__icon {
  transition: -webkit-transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  z-index: 0;
}
.b-card__text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid white;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px;
  max-width: 368px;
  min-height: 80px;
  max-height: 81px;
  width: 100%;
}
.b-card__text:after {
  content: "";
  min-height: inherit;
  font-size: 0;
}
.b-card__text-content {
  font-size: 30px;
  color: white;
}

.b-jumbotron {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.b-jumbotron__item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #EBEBEB;
  min-height: 190px;
  border: 1px solid #D7D7D7;
}
.b-jumbotron__item:after {
  content: "";
  min-height: inherit;
  font-size: 0;
}
.b-jumbotron__text {
  max-width: 450px;
  font-size: 25px;
  color: #898989;
  line-height: 30px;
}

.footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 120px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
}
.footer__left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer__right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer__text {
  color: #64257D;
  font-size: 14px;
}
.footer__call-center--mobile {
  display: none;
}

@media screen and (max-width: 991px) {
  .visible-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .spacer-flex-1--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
  }

  .b-logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .b-nav {
    padding-right: 20px;
  }

  .b-card__item {
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }
  .b-card__text {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .b-header__text {
    font-size: 20px;
    line-height: 25px;
  }

  .b-jumbotron__text {
    font-size: 20px;
  }

  break-50 {
    display: none;
  }

  .footer {
    background-color: #64257D;
    min-height: 80px;
  }
  .footer__left {
    display: none;
  }
  .footer__right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__call-center {
    display: none;
  }
  .footer__call-center--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}