.full-container
  .b-content
    .b-nav
      .static-container
        .spacer-flex-1--mobile
        .b-logo
          a(href="")  
            img(src='http://frontend.novadigitalsolutions.net/azercell_landing_v3/assets/images/Layer 1.svg', style='width:148px;height:auto', alt='Azercell logo')
        .b-timer
          span.minutes(data-count='0') 00
          | :
          span.seconds(data-count='20') 20
    // /b-nav
    .b-header
      .static-container
        span.b-header__text
          | İnterneti daha sərfəli istifadə et. 
          br.visible-mobile
          |         Özünə uyğun internet paketi seç.
    break-50
    .b-card
      .static-container.static-container--b-card
        .b-card__item.b-card__item--left.b-card__item--monthly
          a(href="", class="b-card__link")
          .b-card__row.b-card__row--first
            img.b-card__icon(src='http://frontend.novadigitalsolutions.net/azercell_landing_v3/assets/images/Group 5.svg', style='width:92px;height:auto', alt='Calendar icon')
          .b-card__row.b-card__row--second
            .b-card__text
              span.b-card__text-content
                | AYLIQ İnternet paketlər
        .b-card__item.b-card__item--daily
          a(href="", class="b-card__link")
          .b-card__row.b-card__row--first
            img.b-card__icon(src='http://frontend.novadigitalsolutions.net/azercell_landing_v3/assets/images/Group 6.svg', style='width:92px;height:auto', alt='Calendar icon')
          .b-card__row.b-card__row--second
            .b-card__text
              span.b-card__text-content
                | GÜNLÜK İnternet paketlər
        .b-card__item.b-card__item--left.b-card__item--limitless
          a(href="", class="b-card__link")
          .b-card__row.b-card__row--first
            img.b-card__icon(src='http://frontend.novadigitalsolutions.net/azercell_landing_v3/assets/images/Vector Smart Object.svg', style='width:175px;height:auto', alt='Calendar icon')
          .b-card__row.b-card__row--second
            .b-card__text
              span.b-card__text-content
                | LİMİTSİZ İnternet paketlər
        .b-card__item.b-card__item--tariff
          a(href="", class="b-card__link")
          .b-card__row.b-card__row--first
            img.b-card__icon(src='http://frontend.novadigitalsolutions.net/azercell_landing_v3/assets/images/Group 7.svg', style='width:96px;height:auto', alt='Calendar icon')
          .b-card__row.b-card__row--second
            .b-card__text
              span.b-card__text-content
                | Tarifə uyğun davam et
    .b-jumbotron
      .static-container
        .b-jumbotron__item
          span.b-jumbotron__text
            | 20 saniyə ərzində seçim etmədiktə
            | İnternetden istifadə yenidən aktivləşəcək
            | və tarifə uyğun hesablanacaq.
  footer.footer
    .static-container
      .footer__left
        a(href="")
          span.footer__text © Azercell Telekom MMC
      .footer__right
        a(href="tel:*1111")
          img.footer__call-center(src='http://frontend.novadigitalsolutions.net/azercell_landing_v3/assets/images/Vector Smart Object@2x.png', style='width:82px;height:auto', alt='call center')
        a(href="tel:*1111")
          img.footer__call-center--mobile(src='http://frontend.novadigitalsolutions.net/azercell_landing_v3/assets/images/Vector Smart Object3.svg', style='width:143px;height:auto', alt='call center mobile')
// /full-container
